SECRET_KEY=
ENVIRONMENT=production
DEBUG=False
ALLOWED_HOSTS=inaprochub.gpfe.id
CSRF_TRUSTED_ORIGINS=https://inaprochub.gpfe.id
DATABASE_URL=
ENABLE_SECURE_SSL=True
SECURE_SSL_REDIRECT=True
ADMIN_URL_PATH=admin
LOGIN_LOCKOUT_SECONDS=60

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=2525
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=GPFE PROC HUB <noreply@inaprochub.gpfe.id>
SERVER_EMAIL=noreply@inaprochub.gpfe.id
