ENVIRONMENT=
SECRET_KEY=
DEBUG=
ADMIN_URL_PATH=
ADMIN_ALLOWED_IPS=

ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
DATABASE_URL=
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
SERVER_EMAIL=

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=